{
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ],
        [
            "./.leafjs/leafjsBabel.js",
            {}
        ]
    ],
    "presets": [
        [
            "@babel/preset-react",
            {
                "runtime": "automatic",
                "importSource": "@vanilla-jsx"
            }
        ]
    ]
}